<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>

/////////////

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/stylesheets/dist/css/style.css" />
        <link
            rel="stylesheet"
            href="/public/stylesheets/fontawesome-free-6.1.2-web/css/all.min.css"
        />
        <script src="/public/javascripts/index.js" defer></script>

        <title>{{title}}</title>
    </head>
    <body>
        <header>
            <div class="logo"><img src="/public/images/Logo.svg" alt="" /></div>

            <i class="fa-solid fa-bars"></i>
            <nav class="nav">
                <i class="fa-solid fa-x"></i>
                <div class="home"><a href="./index.html">Home</a></div>
                <div class="add-user">
                    <a href="./addUser.html">Add User</a>
                </div>
                <div class="users"><a href="./users.html">Users</a></div>
            </nav>
        </header>

        {{{body}}}

        <footer>
            <div class="container">
                <div class="logo">
                    <img src="/public/images/Logo.svg" alt="" />
                </div>
                <div class="connect">
                    <div>
                        <a href="http://facebook.com">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                    <div>
                        <a href="http://twitter,com">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                    <div>
                        <a href="http://linkedin.com">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div>
                        <a href="http://whatsapp.com">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
                <div class="contact">
                    <p>
                        <i class="fas fa-address-book"></i>
                        Nnewi, Anambra, Nigeria.
                    </p>
                    <p>
                        <a href="mailto:polycarpnwaeke@gmail.com">
                            <i class="fas fa-envelope"></i>
                            Send Mail
                        </a>
                    </p>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; Copyright</p>
            </div>
        </footer>
    </body>
</html>