{{! Development }}
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

{{! Production }}
{{! <main class="error">
    <h1>Page Not Found</h1>
    <button type="button">
        <a href="./index.html">Click here to go to home page</a>
    </button>
</main> }}