main.addUser {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5rem 3rem;

    .nav {
        text-align: start;

        a {
            font-size: 1.2rem;
            text-decoration: none;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .form {
        form {
            width: 100%;
            .input {
                .error {
                    margin: 0 1rem;
                    font-size: 14px;
                    color: lighten(red, 10%);
                }
                input {
                    margin: 1rem;
                    padding: 0.4rem 0.8rem;
                    width: 100%;
                }
                margin: 20px 0;
            }

            .image {
                .image-preview {
                    width: 150px;
                    height: 150px;
                    img {
                        display: none;
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
                input {
                    width: 100%;
                    padding: 1rem 0;
                }
            }

            .textarea {
                margin: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                textarea {
                    width: 100%;
                    padding: 1rem;
                    border-radius: 5px;
                }
            }

            .button {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                button {
                    height: 2.5rem;
                    width: 8rem;
                    color: $light-color;
                    font-size: 1.2rem;
                    background-color: $primary-color;
                    border-radius: 5px;
                    border: none;

                    &:hover {
                        background-color: lighten($primary-color, 10%);

                        &:active {
                            box-shadow: $secondary-color 0px 0px 3px 3px;
                        }
                    }
                }
            }
        }
    }
}
